.red {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  left: 100px;
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  bottom: 100px;
}
.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: relative;
  bottom: 200px;
  left: 200px;
}
