body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.programmer {
  font-weight: normal;
  line-height: 2;
}
h1 {
  margin-top: 0;
  font-family: "Dancing Script", cursive;
  font-size: 2.25rem;
  margin: 50px auto 0;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  color: #66bfbf;
}
h3 {
  color: #11999e;
}
a {
  color: #11999e;
}
.container {
  width: 200px;
  height: 200px;
}
.top-container {
  background-color: #d4ecdd;
  position: relative;
  padding: 100px;
}
.middle-container {
}
.bottom-container {
}
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}
.computer {
  width: 25%;
  float: left;
  margin-right: 25px;
}
.app {
  width: 25%;
  float: right;
  margin-left: 25px;
}
