body {
  margin: 0;
}
h1 {
  margin-top: 0;
}
div {
}
.container {
  width: 200px;
  height: 200px;
}
.top-container {
  background-color: #d4ecdd;
}
.middle-container {
  background-color: red;
}
.bottom-container {
  background-color: blue;
}
